<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
</head>
<body>
    <h2>Welcome, <%= user.name %></h2>
    <p>Email: <%= user.email %></p>

    <p><a href="/admin/admin/list">View Users</a></p>
    <p><a href="/admin/admin/logout">Logout</a></p>
</body>
</html>
